/*Estilos generales*/
body {
  font-family: "Roboto", sans-serif;
    color: black;
}
h1{
font-size: 2.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
}
h2{
  font-size: 2vw; /* Tamaño de fuente relativo al ancho de la ventana */
}
p{
    font-size: 1.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
}

/*Estilos header*/
#header{
  background-color: #ffc107;
  color:#212121;
  padding:20px;
  margin:20px;
  font-size: 3vw; /* Tamaño de fuente relativo al ancho de la ventana */
}
img{
  vertical-align: middle; /* Alinea la imagen verticalmente */;
}

/*Estilos nav - como ponerlos horizontal!!!???*/
nav ul li {
  display: flex; /* Hace que los elementos estén en línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  text-decoration: none; /* Quitar subrayado */
  list-style-type: none; /* Quitar los puntos de la lista */
  display:inline-block; /* Hace que los elementos estén en línea */
  margin: 0 10px; /* Espacio entre los elementos */
  font-size: 1.8vw; /* Tamaño de fuente relativo al ancho de la ventana */
}

/*Estilos menu*/
#menu{
  background-color: #00796b;
  color:#212121;
  padding:20px;
  margin:20px;
}

/*Estilo background*/
body {
  background-color: #bdbdbd;
}

/*Estilos secciones*/
.section{
  background-color: #b2dfdb;
  color:#212121;
  padding:20px;
  margin:20px;
}
div:hover{
  background-color: #111313; /* Cambia el color de fondo al pasar el mouse */
  color: #fcfcfc; /* Cambia el color del texto al pasar el mouse */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  transition: background-color 0.3s ease; /* Añade una transición suave */
  border-radius: 5px; /* Añade bordes redondeados */
}

/*Estilos formulario*/
input:focus {
  background-color: #ffc107;
}
form{
  font-size: 1.5vw; /* Tamaño de fuente relativo al ancho de la ventana */
}

/*Estilos footer*/
.footer{
  background-color: #212121;
  color:#ffffff;
  padding:20px;
  margin:20px;
}
