/*Estilos generales*/

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: black;
}

/*Estilos header*/
#header{
  background-color: #ffc107;
  color:#212121;
  padding:20px;
  margin:20px;
}
/*Estilo background imagen*/
body {
  /*background-image: url("images/futuristicHandWorkingLaptopMin.jpg"); /* Ruta de la imagen de fondo */
  background-size: cover; /* Ajusta la imagen al tamaño completo del cuerpo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  height: 100vh; /* Asegura que el cuerpo tenga la altura de la pantalla */
  margin: 0;
  padding: 0;
}

/*Estilos nav - como ponerlos horizontal!!!???*/
nav ul li {
  display: flex; /* Hace que los elementos estén en línea */
  justify-content: center; /* Centra los elementos horizontalmente */
  text-decoration: none; /* Quitar subrayado */
  list-style-type: none; /* Quitar los puntos de la lista */
}
/*Formulario*/
/*colores*/
/*Estilos menu*/
#menu{
  background-color: #00796b;
  color:#212121;
  padding:20px;
  margin:20px;
}
/*Estilo background*/
body {
  background-color: #bdbdbd;
}
/*Estilos secciones*/
.section{
  background-color: #b2dfdb;
  color:#212121;
  padding:20px;
  margin:20px;
}
/*Estilos footer*/
.footer{
  background-color: #212121;
  color:#ffffff;
  padding:20px;
  margin:20px;
}